<div style="background:#f9f9f9">
  <div style="
    margin:auto;
    padding:30px 0px;
    max-width:680px;
    min-width:320px;
    width:100%
  ">
    <div style="
      background:#fff;
      border-top:3px solid #ee4d64;
      border-left:1px solid #dddddd;
      border-right:1px solid #dddddd;
      border-bottom:1px solid #dddddd;
      background-clip:padding-box;
      border-radius:0 0 3px 3px;
      color:#525252;
      font-family:'Helvetica Neue',Arial,sans-serif;
      font-size:15px;
      line-height:22px;
      overflow:hidden;
    ">
      {{> header }}
      <div style="padding:20px;">
        {{{ body }}}
      </div>
    </div>
  </div>
</div>
